<div class="w-full bg-gray-50 dark:bg-gray-900 dark:text-white min-h-screen py-10">
  <div class="bg-gray-800 dark:bg-gray-50 max-w-2xl mx-auto rounded-lg shadow-lg">
    <div class="flex justify-end gap-2 p-4 sticky top-0 bg-gray-800 dark:bg-indigo-900 z-10">
      <button 
        type="button" 
        (click)="toggleEditMode()" 
        [class]="isEditMode ? 'bg-red-600 hover:bg-red-700' : 'bg-blue-600 hover:bg-blue-700'"
        class="border rounded px-4 py-2 text-white transition">
        {{ isEditMode ? 'Cancel' : 'Edit' }}
      </button>
      @if (isEditMode) {
        <button type="submit" (click)="onSubmit(model$)" class="bg-blue-600 border border-indigo-700 rounded px-4 py-2 text-white hover:bg-indigo-900 transition">Submit</button>
      }
    </div>
    <form class="flex flex-col justify-center" [formGroup]="form$" (ngSubmit)="onSubmit(model$)">
      @if (fetchFormFields$ | async; as formData) {
        <formly-form 
          [form]="form$" 
          [fields]="formData.fields | updateFieldsReadonly: isEditMode" 
          [model]="model$">
        </formly-form>
      }
    </form>
  </div>
</div>
