@let  filters = filter();
<div class="my-5 flex justify-between items-center gap-4">
  <h1 class="text-2xl font-semibold">Todo List</h1>
  <button class="text-white" mat-icon-button color="primary" [matMenuTriggerFor]="todosFilter">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <mat-menu class="min-w-max" #todosFilter="matMenu" xPosition="before">
    <button
      mat-menu-item
      (click)="onFilterTodos.emit('ALL')"
      [class.active]="filters === 'ALL'"
      rtl
    >
      <mat-icon>task</mat-icon>
      <span>All</span>
    </button>
    <button
      mat-menu-item
      (click)="onFilterTodos.emit('DONE')"
      [class.active]="filters === 'DONE'"
    >
      <mat-icon>check</mat-icon>
      <span>Done</span>
    </button>
    <button
      mat-menu-item
      (click)="onFilterTodos.emit('ACTIVE')"
      [class.active]="filters === 'ACTIVE'"
    >
      <mat-icon>radio_button_unchecked</mat-icon>
      <span>Filters</span>
    </button>
  </mat-menu>
</div>
